<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About
    body
        h1 About
        #app
        picture
            source(srcset="assets/images/1.webp" type="image/webp")
            img(src="assets/images/1.jpg", alt="image")